<div class="flex w-full flex-col bg-white p-6 border border-gray-200 rounded-lg">
  <p-table
    #dataTable
    dataKey="_id"
    [value]="data"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [columns]="columns"
    [rowsPerPageOptions]="rowsPerPage"
    [paginator]="true"
    [showCurrentPageReport]="true"
    [scrollable]="true"
    scrollHeight="400px"
    selectionMode="single"
    styleClass="p-datatable-md p-datatable-striped"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    (onRowSelect)="rowSelected($event)"
    (onRowUnselect)="rowUnselected($event)"
    [globalFilterFields]="['_id', 'name', 'duration', 'size']"
  >
    <ng-template pTemplate="caption">
      <div class="flex flex-row">
        <div class="w-5/6 text-white font-bold text-lg">Registro de audios</div>
        <div class="w-1/6 items-end">
          <app-button
            text="Nuevo"
            [isFormButton]="false"
            buttonType="LIGHT"
            icon="pi-plus"
            (clickAction)="openCreateOrEditModal($event)"
          />
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th
          style="text-align: center"
          *ngFor="let col of columns"
          [ngStyle]="{ width: col.width, 'min-width': col.minWidth, 'max-width': col.maxWidth }"
        >
          {{ col.header }}
          <ng-container *ngIf="col.field === 'code'">
            <p-columnFilter type="text" field="code" display="menu"
          /></ng-container>
          <ng-container *ngIf="col.field === 'name'">
            <p-columnFilter type="text" field="name" display="menu"
          /></ng-container>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <ng-container *ngFor="let col of columns">
          <td
            [ngStyle]="{ width: col.width, 'min-width': col.minWidth, 'max-width': col.maxWidth }"
            style="text-align: center !important"
          >
            <div class="flex justify-center" *ngIf="col.field === 'code'">
              {{ rowData['_id'] }}
            </div>
            <div class="flex justify-center" *ngIf="col.field === 'name'">
              {{ rowData[col.field] }}
            </div>
            <div class="flex justify-center" *ngIf="col.field === 'creationTime'">
              {{ (rowData[col.field] | date: 'YYYY-MM-dd HH:mm') || '-' }}
            </div>
            <div class="flex flex-col" *ngIf="col.field === 'size'" style="text-align: left !important">
              <div><span class="font-bold">Tamaño: </span>{{ rowData[col.field] | byteToMByte }} MB</div>
              <div><span class="font-bold">Duración: </span>{{ rowData['duration'] | secondToMinute }}</div>
            </div>

            <div class="flex flex-row justify-center gap-5 items-center" *ngIf="col.field === 'id'">
              <div
                class="mr-5 hover:cursor-pointer hover:bg-gray-300 rounded-full"
                pTooltip="Editar"
                tooltipPosition="left"
              >
                <i
                  class="text-xl pi pi-pencil text-transcription-600"
                  (click)="openCreateOrEditModal($event, rowData)"
                ></i>
              </div>

              <div
                class="mr-5 hover:cursor-pointer hover:bg-gray-300 rounded-full"
                pTooltip="Descargar"
                tooltipPosition="left"
              >
                <i class="text-xl pi pi-download text-transcription-600" (click)="getAudio($event, rowData)"></i>
              </div>

              <div
                class="mr-5 hover:cursor-pointer hover:bg-gray-300 rounded-full"
                pTooltip="Eliminar"
                tooltipPosition="left"
              >
                <i class="text-xl pi pi-trash text-red-800" (click)="delete($event, rowData)"></i>
              </div>
            </div>
          </td>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3">No se ha encontrado registro</td>
      </tr>
    </ng-template>
  </p-table>
</div>
