<div class="relative flex rounded-md shadow-sm">
  <input
    type="text"
    id="search"
    name="search"
    class="py-3 px-4 pl-11 block w-full border border-gray-200 shadow-sm rounded-l-md text-sm focus:z-10 focus:border-transcription-600 focus:ring-transcription-600"
    [placeholder]="placeHolder"
    autocomplete="off"
    [(ngModel)]="searchValue"
    (keyup.enter)="onEnterKey()"
  />

  <button
    type="button"
    class="py-3 px-4 inline-flex flex-shrink-0 justify-center items-center rounded-r-md border border-transparent font-semibold bg-transcription-600 text-white hover:bg-transcription-800 focus:z-10 focus:outline-none focus:ring-2 focus:ring-transcription-600 transition-all text-base"
    (click)="clickSearchButton()"
  >
    {{ label }}
    <div class="ml-4">
      <svg
        class="h-4 w-4 text-white"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
        />
      </svg>
    </div>
  </button>
</div>
