<div class="min-h-full">
  <div class="flex flex-col">
    <main class="flex-1">
      <div class="flex flex-col h-screen bg-gray-50">
        <div *ngIf="showHeader">
          <app-header (clickAction)="closeResponsiveAsida()" [ruta]="route"></app-header>
        </div>
        <div class="ml-10">
          <xng-breadcrumb separator="/" [autoGenerate]="false">
            <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info; let first = first">
              <!--              <mat-icon *ngIf="info">{{ info }}</mat-icon>-->
              <ng-container>
                <span class="ml-0.5">{{ breadcrumb }}</span>
              </ng-container>
            </ng-container>
          </xng-breadcrumb>
        </div>
        <div class="flex-1 w-full">
          <span>Página de inicio</span>
          <router-outlet> </router-outlet>
        </div>
        <div>
          <app-footer></app-footer>
        </div>
      </div>
    </main>
  </div>
</div>
