<form [formGroup]="form" (keyup.enter)="eventSubmit()">
  <div class="grid grid-cols-1 gap-4">
    <div>
      <app-input
        id="email"
        label="Email"
        placeholder="Ej: edwin@gmail.com"
        help="Ingrese el correo registrado en el sistema"
        [type]="'text'"
        [formGroup]="form"
        [required]="true"
      ></app-input>
    </div>
    <div>
      <app-input
        id="password"
        label="Contraseña"
        placeholder="**********"
        help="Ingrese su contraseña"
        [type]="'password'"
        [formGroup]="form"
        [required]="true"
      ></app-input>
    </div>
  </div>
</form>
