<div class="md:px-6 px-1 md:py-2">
  <div mat-dialog-title class="text-center border-b border-b-gray-200">
    <span class="text-transcription-500 font-bold text-2xl">Actualizar contraseña</span>
  </div>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="form" (keyup.enter)="eventSubmit()">
      <div class="grid grid-cols-1 gap-4 mt-10">
        <app-input
          id="password"
          label="Contraseña actual"
          placeholder="*******"
          help="Ingrese su contraseña actual"
          [type]="'password'"
          [formGroup]="form"
          [required]="true"
        />
        <app-input
          id="newPassword"
          label="Contraseña nueva"
          placeholder="*******"
          help="Ingrese la nueva contraseña"
          [type]="'password'"
          [formGroup]="form"
          [required]="true"
        />
        <app-input
          id="confirmPassword"
          label="Confirmar contraseña"
          placeholder="*******"
          help="Ingrese nuevamente su nueva contraseña"
          [type]="'password'"
          [formGroup]="form"
          [required]="true"
        />
      </div>
      <div class="mt-4 w-full text-center" *ngIf="passwordError">
        <span class="text-red-800">{{ passwordError }}</span>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div class="ml-3">
      <app-button
        [isDisabled]="!formValues"
        [isFormButton]="true"
        text="EDITAR"
        buttonType="PRIMARY"
        (clickAction)="acceptModal()"
      />
    </div>
  </mat-dialog-actions>
</div>
