<div class="flex flex-col h-full w-full">
  <app-page-title title="REGISTRO DE AUDIOS" />

  <!--  <div>-->
  <!--    <ngx-audio-player-->
  <!--      [playlist]="msaapPlaylist"-->
  <!--      [displayTitle]="msaapDisplayTitle"-->
  <!--      [autoPlay]="false"-->
  <!--      muted="muted"-->
  <!--      [displayPlaylist]="msaapDisplayPlayList"-->
  <!--      [pageSizeOptions]="msaapPageSizeOptions"-->
  <!--      [displayArtist]="msaapDisplayArtist"-->
  <!--      [displayDuration]="msaapDisplayDuration"-->
  <!--      [expanded]="true"-->
  <!--      [displayVolumeControls]="msaapDisplayVolumeControls"-->
  <!--      [displayRepeatControls]="msaapDisplayRepeatControls"-->
  <!--      [disablePositionSlider]="msaapDisablePositionSlider"-->
  <!--    ></ngx-audio-player>-->
  <!--  </div>-->

  <mat-tab-group>
    <mat-tab label="Seleccionar archivo">
      <app-file-list-page />
    </mat-tab>
    <mat-tab label="Transcripción">
      <app-transcription-page />
    </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
</div>
