<div class="flex flex-col h-full w-full">
  <app-page-title title="REGISTRO DE AUDIOS" />

  <div class="w-full pb-12" *ngIf="audioList.length">
    <ngx-audio-player
      [playlist]="audioList"
      [displayTitle]="true"
      [autoPlay]="false"
      [displayArtist]="true"
      [displayDuration]="true"
      [expanded]="false"
      [displayVolumeControls]="true"
      [displayRepeatControls]="false"
      [disablePositionSlider]="false"
      (timeupdate)="onEvent($event)"
      (durationchange)="onEvent($event)"
      (cuechange)="onEvent($event)"
    ></ngx-audio-player>
  </div>

  <div>
    <mat-tab-group>
      <mat-tab label="Seleccionar archivo">
        <app-file-list-page
          (selectRow)="selectAudioRow($event, 'select')"
          (unselectRow)="selectAudioRow($event, 'unselect')"
        />
      </mat-tab>
      <mat-tab label="Transcripción">
        <app-transcription-page />
      </mat-tab>
      <mat-tab label="Third"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>
</div>
