<div class="flex flex-col h-full w-full">
  <app-page-title title="GESTIÓN DE TABLAS DE DESCUENTO" />

  <div class="flex w-full flex-col bg-white p-6 border border-gray-200 rounded-lg">
    <p-table
      dataKey="id"
      [value]="data"
      [rows]="rows"
      [totalRecords]="totalRecords"
      [columns]="columns"
      [rowsPerPageOptions]="rowsPerPage"
      [paginator]="true"
      [showCurrentPageReport]="true"
      [scrollable]="true"
      scrollHeight="400px"
      styleClass="p-datatable-md p-datatable-striped"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    >
      <ng-template pTemplate="caption">
        <div class="flex flex-row">
          <div class="w-5/6 text-white font-bold text-lg">Archivos de audio</div>
          <div class="w-1/6 items-end">
            <app-button
              text="Nuevo"
              [isFormButton]="false"
              buttonType="LIGHT"
              icon="pi-plus"
              (clickAction)="openCreateOrEditModal()"
            />
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            style="text-align: center"
            *ngFor="let col of columns"
            [ngStyle]="{ width: col.width, 'min-width': col.minWidth, 'max-width': col.maxWidth }"
          >
            {{ col.header }}
            <!--            <p-columnFilter type="text" [field]="col.field" display="menu"></p-columnFilter>-->
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
        <tr>
          <ng-container *ngFor="let col of columns">
            <td
              [ngStyle]="{ width: col.width, 'min-width': col.minWidth, 'max-width': col.maxWidth }"
              style="text-align: center !important"
            >
              <div class="flex justify-center" *ngIf="col.field === 'code'">
                {{ rowData[col.field] }}
              </div>
              <div class="flex justify-center" *ngIf="col.field === 'name'">
                {{ rowData[col.field] }}
              </div>
              <div class="flex flex-col" *ngIf="col.field === 'periodo'">
                <div>
                  <span class="font-bold">Inicio:</span> {{ rowData['initialMonth'] }} - {{ rowData['initialYear'] }}
                </div>
                <div><span class="font-bold">Fin:</span> {{ rowData['endMonth'] }} - {{ rowData['endYear'] }}</div>
              </div>
              <div class="flex flex-row justify-center gap-5 items-center" *ngIf="col.field === 'id'">
                <div
                  class="mr-5 hover:cursor-pointer hover:bg-gray-300 rounded-full"
                  pTooltip="Gestión grupos"
                  tooltipPosition="left"
                >
                  <i class="text-xl pi pi-cog text-bago-600"></i>
                </div>
                <div
                  class="mr-5 hover:cursor-pointer hover:bg-gray-300 rounded-full"
                  pTooltip="Editar"
                  tooltipPosition="left"
                >
                  <i class="text-xl pi pi-pencil text-bago-600" (click)="openCreateOrEditModal(rowData)"></i>
                </div>
                <div
                  class="mr-5 hover:cursor-pointer hover:bg-gray-300 rounded-full"
                  pTooltip="Descargar reporte"
                  tooltipPosition="left"
                >
                  <i class="text-xl pi pi-download text-bago-600"></i>
                </div>
              </div>
            </td>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3">No se ha encontrado registro</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
